meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
title H5Labyrint
link(rel="stylesheet", href="css/global.min.css")/
script(src="js/bundle.min.js" type="text/javascript")